body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #4b4b4b;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }